How do i change the data picker field format

Hi, 

Great plugin. can you help me with adjusting the date format 

I want to know for these types, 

Eg. 

November 20,2021
20, Nov 2020,


Update: Follow the guide to the different date formats available. 

ATOM - 'yy-mm-dd' (Same as RFC 3339/ISO 8601)

COOKIE - 'D, dd M yy'

ISO_8601 - 'yy-mm-dd'

RFC_822 - 'D, d M y' (See RFC 822)

RFC_850 - 'DD, dd-M-y' (See RFC 850)

RFC_1036 - 'D, d M y' (See RFC 1036)

RFC_1123 - 'D, d M yy' (See RFC 1123)

RFC_2822 - 'D, d M yy' (See RFC 2822)

RSS - 'D, d M y' (Same as RFC 822)

TICKS - '!'

TIMESTAMP - '@'

W3C - 'yy-mm-dd' (Same as ISO 8601)

